{% extends 'base.html.twig' %}

{% block title %}Accueil - Ecommerce{% endblock %}

{% block body %}
<section class="min-h-[600px] flex items-center justify-center">
    <div class="grid md:grid-cols-2 grid-cols-1">

    </div>
</section>
{% endblock %}
